// INFINITE OPTIONS STYLING

.infinite-option{
    width: 100%;
    background-color: black;
    padding: 10px 28px 10px 14px;
    // border: 1px solid var(--border-color);
}
#infiniteoptions-container{
    margin-bottom: 25px;
}
#infiniteoptions-container select{
    width: 100%;
    background: none;
    padding: 10px 28px 10px 14px;
    border: 1px solid var(--border-color);
    background-image: url('https://cdn.shopify.com/s/files/1/0592/1741/2253/files/chevron.svg?v=1657740566');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: 95%;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.spb-label-tooltip{
    margin-top: 5px;
}
select::-ms-expand {
    display: none;
}
@media only screen and (min-width:500px){
    #infiniteoptions-container select{
        background-position: 97%
    }
}

// CUSTOM PRODUCT TABS BLOCK
.Product__Tabs{
    margin: 25px 0;
}